@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2-variations');
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2') tech('variations');
    font-weight: 300 700;
}

@font-face {
    font-family: 'WorkSans-Light';
    src: url('../fonts/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    color: #0E0D0D;
    background-color: #FDFDF0;
}

.container{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-big{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
}

.menu__list{
    display: flex;
    gap: 0 30px;
}

.menu__link{
    text-transform: uppercase;
}

.header__contacts{
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: #0E0D0D;
    border-radius: 50px;
    color: #fff;
}

.about{
    margin-bottom: 180px;
}

.about__top{
    text-align: center;
    color: #FDFDF0;
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
    min-height: 748px;
}

.about__title{
    font-family: 'WorkSans-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 250px;
    line-height: 0.9;
    padding-top: 85px;
}

.about__text{
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
}

.about__achievements{
    display: flex;
    margin-top: -55px;
    margin-bottom: 90px;
    gap: 260px;
}

.about__achievement{
    border-radius: 20px;
    background-color: #F4F4E7;
    max-width: 580px;
    padding: 14px 10px;
    gap: 0 25px;
    display: flex;
}

.about__achievement-imgbox{
    min-width: 214px;
    position: relative;
}

.about__achievement-arrow{
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 5px;
}

.about__achievement-title{
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 10px;
}

.about__achievement-text{
    font-weight: 300;
    font-size: 14px;
}

.text--bold{
    font-weight: 600;
}

.text--color{
    font-weight: 600;
    color: #F2A531;
}

.about__stats{
    background-color: #F4F4E7;
    margin-bottom: 70px;
    border-radius: 20px;
    display: flex;
    padding: 30px 18px;
    justify-content: space-between;
    gap: 0 90px;
}

.about__stats-item{
    text-align: center;
    width: 300px;
}

.about__stats-item dt{
    font-family: 'WorkSans-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}

.about__stats-item dd{
    margin: 0;
    color: #0E0D0D;
    font-size: 22px;
    opacity: .7;
}

.about__progress-text{
    font-family: 'WorkSans-Light', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 40px;
}

.about__progress-text span{
    font-weight: 500;
    font-family: 'WorkSans-Medium', sans-serif;
}

.about__progress-box{
    display: flex;
    gap: 0 140px;
}

.about__progress-boxtext{
    font-size: 18px;
    margin-bottom: 45px;
    padding-right: 50px;
    padding-top: 5px;
    line-height: 1.5;
}

.about__progress-boxtext .text--bold{
    font-weight: 700;
} 

.about__progress-table{
    border-top: 1px solid rgba(14, 13, 13, .23);
}

.about__progress-item{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(14, 13, 13, .23);
}

.about__progress-item + .about__progress-item{
    padding-top: 20px;
}

.about__progress-item dt{
    font-size: 18px;
    font-weight: 500;
}

.about__progress-item dt span{
    color: #F2A531;
    font-weight: 600;
}

.about__progress-item dd{
    opacity: .71;
}